<head>
  <meta charset="UTF-8">
  <title>Football teams</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{{ body }}}
</body>

</html>