
<div class="menu-container">
    <h2>
      Teams
    </h2>

    <div>
      <ul>
        {{#each teams}}
            <li>{{this.teamName}}</li>
        {{/each}}
      </ul>

      <form action="/team" method="POST">
        <input name="teamName" type="text" placeholder="Team Name">
        <button type="submit">Add Team</button>
      </form>
    </div>
  </div>
</div>